table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: black;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

th {
  background-color: #f8f9fa;
  position: sticky;
  top: 0;
  z-index: 2;
}

td {
  vertical-align: middle;
}

body {
  margin: 20px;
}
