<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fas fa-university"></i> Dr. Ayush University</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/"><i
              class="fas fa-home"
            ></i>
            Home</a>
        </li>
        <li class="nav-item" id="lstt">
          <a class="nav-link" href="/teacher/login"><i
              class="fas fa-chalkboard-teacher"
            ></i>
            Login as Teacher</a>
        </li>
        <li class="nav-item" id="lsts">
          <a class="nav-link" href="/student/login"><i
              class="fas fa-user-graduate"
            ></i>
            Login as Student</a>
        </li>
        <li class="nav-item" id="addStudent">
          <a class="nav-link" href="/teacher/addStudent"><i
              class="fas fa-user-plus"
            ></i>
            Add Student</a>
        </li>
        <li class="nav-item" id="lst">
          <a class="nav-link" href="/teacher/logout"><i
              class="fas fa-sign-out-alt"
            ></i>
            Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>